<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBankAcc"/>
      </basicHttpBinding>
    </bindings>
    <client>
     
      <endpoint address="http://localhost:3037/WebBankClient/BankAcc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankAcc" contract="ServiceReference1.IBankAcc" name="BasicHttpBinding_IBankAcc"/>
    </client>
  </system.serviceModel>
</configuration>